body{
	background-image: url("1.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	font-family: 'Gaegu',cursive;
	color: white;
	font-size: 100px;
}

h2{
	font-weight: bolder;
}

h4{
	color:white;
	font-family: 'Gamja Flower', cursive;
	font-weight: bold;
	font-size: 25px;
	margin: auto;
}
.btn-primary{
	background-color: green;
}
.active{
	border-bottom: 4px solid black;
}

a{
	color: white;
}
.cent{
	margin: auto;
}
button{
	width: 150px;
	font-family: 'Gaegu',cursive;
	
}