body{
	background-image: url("1.jpeg");
	background-repeat: no-repeat;
	background-size: cover;

}

h1{
	font-family: 'Gaegu',cursive;
	color: white;
	font-size: 100px;
	margin-top: -10px;
	text-shadow: 8px 8px 8px black;
}

h2{
	font-weight: bolder;
}

h4{
	color:white;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 25px;
	margin: auto;
}
.btn-primary{
	background-color: green;
}
.active{
	border-bottom: 4px solid black;
}

a{
	color: white;
	text-align: center;

}
.a1{
	min-width: 100px;
	font-weight: bolder;
}
.a2{
	min-width: 250px;
	font-weight: bolder;
}
.a3{
	min-width: 230px; 
	font-weight: bolder;
}
.a4{
	min-width: 210px;
	font-weight: bolder;
}
.a5{
	min-width: 150px;
	font-weight: bolder;
}
.a6{ 
	min-width: 150px;
	font-weight: bolder;
}
.cent{
	margin: auto;
}
button{
	width: 150px;
	font-family: 'Gaegu',cursive;
	
}
#button1{
margin-right: 10px;
border-right: 5px solid black;
border-bottom: 5px solid black;
border-radius: 15px;
}
#button2{
margin-left: 10px;
border-right: 5px solid black;
border-bottom: 5px solid black;
border-radius: 15px;
}
#button1:hover{
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 15px;
	background-color: red;
}
#button2:hover{
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	border-radius: 15px;
	background-color: red;
}

.a1:hover {
    
	background-color: #885A24 ;
	
	border-right: 3px solid black;
	
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a2:hover {
    
	background-color: #885A24 ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a3:hover {
    
	background-color: #885A24;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a4:hover {
    
	background-color: #885A24 ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a5:hover {
    
	background-color: #885A24;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}
.a6:hover {
    
	background-color: #885A24  ;
	
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	color: white;
	border-radius: 8px;
	font-size: 17px;
	font-weight: bold;

}

