body{
	background-image: url("1.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
h4{
	color:white;
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 25px;
	margin: auto;
}
.active{
	border-bottom: 4px solid black;
}

.a1{
	min-width: 100px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.a2{
	min-width: 250px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.a3{
	min-width: 230px; 
	font-weight: bolder;
	color: white;
	text-align: center;
}
.a4{
	min-width: 210px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.a5{
	min-width: 150px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
.a6{ 
	min-width: 150px;
	font-weight: bolder;
	color: white;
	text-align: center;
}
